<!DOCTYPE html>
<html>

<head>
    <title> </title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="div1">
    {{>header}}
    <br>
    <p> This app displays information about the entered locations weather, created by {{name}}</p>
    <img class="pic" src="/img/dp1.png">
    </div>
    {{>footer}}
</body>

</html>