<!DOCTYPE html>
<html>

<head>
    <title> Help-page </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="div1"> 
    {{>header}}    
    <P> Some helpful texts</P>
    </div>
    {{>footer}}
</body>

</html>