<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="icon" href="/img/pic.jpg"
  

</head>

<body>
    
    <div class="div1">
    {{>header}}
    <form>
        <input type="text" placeholder="Location/Address"/>
        <button>Search</button>
    </form>

    <P id='msg1'></P>
    <P id='msg2'></P>

    </div>
    {{>footer}}
    <script src="js/app.js"> </script>
</body>

</html>